.accueil, .filter-background{
    position: relative;
    background-image: url("/img/4b4e608be48a7d0947170bcb9828e4a67a4bce80-2000x1125.jpg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 120vh;
    width: 100vw;
}

.accueil h1{
    position: absolute;
    z-index: 105;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    font-size: 10vw;
    margin: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.filter-background{
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(1px);
}

.page-2{
    height: 100vh;
    background: linear-gradient(rgb(255, 232, 255), rgb(255, 148, 251));
    
}

.img-panda{
    position: absolute;
    height: 400px;
    left: 60%;
    top: 50%;
}

.img-panda img{
    height: 100%;
}
